.business-index-content-container {
  padding: 18px 30px;
  margin: 0 auto;
  width: 1020px;
  display: flex;
  min-height: 381px;
}

.business-index-content {
  width: 630px;
  margin-right: 30px;
}

.business-index-content-container h2 {
  padding: 6px 0;
  font-size: 16px;
  font-weight: 700;
}

.business-index-sidebar {
  width: 300px;
}

.business-index-content.no-search-results {
  font-size: 14px;
  line-height: 1.29;
}

.business-index-content.no-search-results h4 {
  color: #333;
  font-weight: 700;
  margin-bottom: 6px;
}

.business-index-container .bad-loc-msg {
  padding: 18px 30px;
  margin: 0 auto;
  width: 1020px;
  font-size: 14px;
}

.business-index-container .bad-loc-msg h3 {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 1.286;
  color: #d32323;
}

.business-index-container .bad-loc-msg ul {
  margin: 18px 0;
}